
body {

    font-family: Lato, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    background-color: #f7f7f7;
    background-image: url('../images/backgroundimage2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}


.container {
    text-align: center;
}

input,
button {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    cursor: pointer;

}

/* Styling for footer*/

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    color: black;

}

footer p {
    margin: 0;
    
}
/* Media query for smaller screens */
@media (max-height: 700px) {
    body {
    height: auto;
    }
    footer {
    position: static;
    height: auto;
    padding: 20px 0; /* Add padding to maintain vertical space */
    }
    footer p {
    text-align: left; /* Align text to the left */
    padding: 0 15px; /* Add padding to prevent text from touching the edges */
    }
    }
    
    /* Media query for desktops, laptops, and tablets */
@media (min-width: 768px) {
    footer p {
    margin: 0 auto; /* Center the paragraph within the footer */
    max-width: 80%; /* Limit the maximum width of the paragraph */
    padding: 10px; /* Add some padding for visual comfort */
    }
    }