
body {

    font-family: Lato, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    background-color: #f7f7f7;
    background-image: url('../images/backgroundimage2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}


.container {
    text-align: center;
}

input,
button {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    cursor: pointer;

}

/* Styling for footer*/

footer {
    position: fixed;
    /* Fixed position */
    left: 0;
    /* Align to the left edge */
    bottom: 0;
    /* Align to the bottom edge */
    width: 100%;
    /* Full width */
    text-align: center;
    /* Center text horizontally */
    display: flex;
    /* Use flexbox */
    justify-content: center;
    /* Center content horizontally */
    align-items: center;
    /* Center content vertically */
    height: 100px;
    /* Set a fixed height for the footer */
    color: black;

}

footer p {
    margin: 0;
    /* Remove default margin */
}